.bg-color-light {
    background-color: var(--slate-200);
}

.bg-color-dark {
    background-color: var(--black);
}

.dark {
    color: var(--black);
}

.light {
    color: var(--white);
}

.grey {
    color: var(--slate-400);
}

.grey:hover {
    color: var(--slate-400);
}

.hover-light {
    color: var(--slate-300);
}

.hover-dark {

}

a.grey:hover {
    color: var(--slate-400);
}